body {
    background-color: #b7c3c5;
}

body h1 {
    font-family: georgia;
    margin-left: 45px;
}

body h3 {
    font-family: georgia;
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    margin-left: 45px;
    margin-right: 120px;
    color: #000000;

}

.principal{
    margin-left: 450px;
    border: white 5px solid;
}

.secundaria{
    border: white 5px solid;
    height: 300px;
    width: 350px;

}

p {
    text-align: justify;
    color: #000000;
    font-family: Georgia;
    font-style: italic;
}

.table table-bordered{
    margin: 45px;
}