body {
    background-color: #b7c3c5;
}

body h1 {
    font-family: georgia;
    margin-left: 45px;
}

body h3 {
    font-family: georgia;
    font-style: italic;
    font-size: 20px;
    text-align: justify;
    margin-left: 45px;
    margin-right: 120px;
    color: #000000;

}

.principal{
    margin-left: 450px;
    border: white 5px solid;
}

.secundaria{
    border: white 5px solid;
    height: 300px;
    width: 350px;

}

p {
    text-align: justify;
    color: #000000;
    font-family: Georgia;
    font-style: italic;
}

/*--------------------Footer--------------------------*/
.footer{
    color: #95596f;
    font-size: 14px;
    padding: 5px 0 5px;
    text-align: center;
}
.footer h3{
    margin-bottom: 1px;
    padding: 0 5px;
}
.footer-col-1, .footer-col-2{
    min-width: 100px;
    margin-bottom: 1px;

}
.footer-col-1 ul li{
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.footer-col-1 ul li a{
    display: block;
    padding: 0 10px;
    background: #95596f;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: 0.2s;
}
.footer-col-1 ul:hover a{
    filter: blur(2px);
}
.footer-col-1 ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.footer-col-1 ul li .fb:hover{
    background: var(--facebook);
}
.footer-col-1 ul li .inst:hover{
    background: var(--instagram);
}
.footer-col-1 ul li .ws:hover{
    background: var(--whatsapp);
}
.footer-col-2{
    flex: 0;
    text-align: center;
}
.footer-col-2 img{
    width: 250px;
    margin-bottom: 0;
    transition: 0.5s;
}
.footer-col-2 img:hover{
    transform: translateY(-3px) scale(1.05);
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1.3px;
    margin: 5px 0;
    text-align: center;
}

/*--------------------Sliders--------------------------*/
.carousel-caption{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 5%;
}
.carousel-caption h1 h2{
    font-size: 50px;
    font-weight: 100;
    color: #fff;
}
.container-slide{
    max-width: 800px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn0{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
}
/*------------------------------------------------------*/
